@model Hotel2.VievModel.RoomVievModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        LoadRoomBrudny();
        
        $("#btnSave").click(function () {
            if (!$("#costumerBooking").valid()) {
                return;
            }

        });
     
        
    });
    
    function LoadRoomBrudny() {

        $.ajax({
            async: true,
            data: 'Get',
            dataType: 'HTML',
            contentType: false,
            processData: false,
            url: '/EkipaSprzątająca/GetRoomBrudny',
            success: function (data) {
                $("#divLoadRoomBrudny").html(data);
            },
            error: function () {
                alert('error');
            }
        });

    }

    function SprzątajPokój(roomid) {
        var result = confirm("Czy chcesz posprzątać pokój?");
        if (result === false) {
            return false;
        }
        $.ajax({
            async: true,
            type: 'Get',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: { roomid: roomid },
            url: '/EkipaSprzątająca/SprzątajPokój',
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);

                    LoadRoomBrudny();
                }

            },
            error: function () {
                alert('error');
            }
        });
    }
</script>


<div style="margin-top: 20px"></div>
    
    <div id="divLoadRoomBrudny">

    </div>




