
@{
    ViewBag.Title = "About";
}

<h2>Aplikacja internetowa</h2>
<h3>Recepcja Hotelowa</h3>
<h4>Funkcje :</h4>
<h5>- Dodawanie/Usuwanie Pokoi</h5>
<h5>- Dodawanie/Usuwanie Rezerwacji</h5>
<h5>- Edycja Pokoi</h5>
<h5>- Wysłanie pokoju do remontu i spowrotem</h5>
<h5>- rezerwacja pokoju</h5>
<h5>- Akceptacja/Anulowanie rezerwacji</h5>
<h5>- Zapłacenie za pokój</h5>
<h5>- Zwrócenie pokoju</h5>
<h5>- Posprzątanie pokoju</h5>
<h5>- Wyświetlanie list Pokoi</h5>
<h5>- Podgląd do histori gości</h5>
<h5>- Pobranie informacji z jsona</h5>
